*.pid
*.xml
*.csr
*.crt
*.key
*.conf
*.pickle
*.db-journal
*.db-shm
*.db-wal
*.sqlite
*.log
*.db
*.sqlite
*.env
.cloud
.storage
.google.token
.uuid
core.*
core
OZW_Log.txt
home-assistant.log
home-assistant_v2.db
deps
__pycache__
alexa_media
tts
secrets.yaml
secrets
known_devices.yaml
.homekit.state
phue.conf
ios.conf
pyozw.sqlite
nest.conf
ipchange.yaml
ip_bans.yaml
production_auth.json
