# Set all values here and rename this to secrets.yaml 
philips_hue_hub_ip: '192.168.x.x'

robot_vacuum_host: '192.168.x.x'
robot_vacuum_token: ''

tuya_username: ''
tuya_password: ''
tuya_country_code: 0 

sonoff_username: ''
sonoff_password: ''
