# Set all values here and rename this to secrets.yaml 
github_personal_token: ''

philips_hue_hub_ip: 192.168.x.x

robot_vacuum_host: 192.168.x.x
robot_vacuum_token: ''
robot_vaccum_roomid_hallway: 16
robot_vaccum_roomid_bedroom: 17
robot_vaccum_roomid_bathroom: 18
robot_vaccum_roomid_ensuite: 20
robot_vaccum_roomid_kitchen: 21
robot_vaccum_roomid_dining: 23
robot_vaccum_roomid_lounge: 24
robot_vaccum_roomid_guestroom: 22

tuya_username: ''
tuya_password: ''
tuya_country_code: 0 

sonoff_username: ''
sonoff_password: ''
