# Set all values here and rename this to secrets.yaml 
github_personal_token: ''

philips_hue_hub_ip: 192.168.x.x

robot_vacuum_host: 192.168.x.x
robot_vacuum_token: ''
robot_vaccum_map:
  hallway: 16
  bedroom: 17
  bathroom: 18
  ensuite: 20
  guestroom: 22
  kitchen: 21
  lounge: 24
  dining: 23

tuya_username: ''
tuya_password: ''
tuya_country_code: 0 

sonoff_username: ''
sonoff_password: ''
