# Set all values here and rename this to secrets.yaml 

######## Site config ########
home_name: Home
temperature_unit: C
time_zone: Europe/London
unit_system: metric

###### Database setup #######
database_url: mysql://user:password@SERVER_IP/DB_NAME?charset=utf8

######## Home config ########
elevation_home: 322
latitude_home: 0.0
longitude_home: 0.0

######## Device config ########
philips_hue_hub_ip: 192.168.1.0
android_tv_host: 192.168.1.0
home_assistant_host: 192.168.1.0
plant_monitor_indoor_host: 192.168.1.0
plant_monitor_outdoor_host: 192.168.1.0

robot_vacuum_host: 192.168.1.0
robot_vacuum_token: random-token-exactly-32-letters-

######## 3rd party account credentials ########
tuya_username: ''
tuya_password: ''
tuya_country_code: 0 

sonoff_username: ''
sonoff_password: ''

github_personal_token: github-token-from-github-account
metoffice_api_key: ''
speedtest_serverid: 

######## Person setup ########
person_praveen_userid: '' 
person_mar_userid: ''

######## Additional services ######
transmission_username: ''
transmission_password: ''

######## Commands ############
plant_monitor_indoor_reboot: ssh -i /config/keys/plantmon -o 'StrictHostKeyChecking=no' pi@192.168.1.0 'sudo reboot'
plant_monitor_outdoor_reboot: ssh -i /config/keys/plantmon -o 'StrictHostKeyChecking=no' pi@192.168.1.0 'sudo reboot'
